.section {
    border: 3px solid black;
    border-radius: 30px;
    box-shadow: 3px 3px 5px black;
    overflow: auto;
    margin-bottom: 20px;
}

.section-title {
    margin-left: 10px;
}

.each-experience {
    border: 3px solid skyblue;
    border-radius: 20px;
    box-shadow: 4px 4px 5px skyblue;
    margin-bottom: 15px;
    margin: 10px;
}

.each-experience h3 {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.each-experience ol {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.same-line {
    display: flex;
}

.webpage-title {
    margin: 20px;
    font-size: 1.25rem;
}

.resume-image {
    margin: 20px;
    border-radius: 50%;
    width: 200px;
}